@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap');


/*Starting styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 60%;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    font-weight: 300;
    font-size: 2rem;
    color: whitesmoke;
}

h1 {
    text-decoration: none;
    font-weight: 800;
    font-size: 4rem;
    margin: 2rem 0;
    font-family: "Poppins", sans-serif;
}

h2 {
    text-decoration: none;
    font-weight: 800;
    font-size: 3rem;
    margin: 2rem 0;
}

p {
    text-decoration: none;
    font-weight: 300;
    font-size: 2rem;
    margin: 2rem 0;
}


/*Bonitto1956*/

img {
    width: 100%;
    height: auto;
}


.row {
    display: flex;
/*    flex-direction: column;*/
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section {
    padding: 100px 0;
}

.view {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.6s;
    
}



.videoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
/*    background: #03a9f4;*/
    mix-blend-mode: overlay;
}

.view.active {
    right: 300px;
}


.view header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 60px 100px;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between;
/*    height: 100vh;*/
/*
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
*/
    color: whitesmoke;
/*    color: #4caf50;*/
    font-family: "Poppins", sans-serif;
}

.view header img{
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggleChanges {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    
    
}

.toggleChanges.active {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;

}


.burgerMenu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
}



.burgerMenu ul {
    position: relative;
    list-style: none;
}

.burgerMenu ul li {
    text-decoration: none;
    position: relative;
    list-style: none;
    color: black;
    letter-spacing: 1px;
    transition: 0.4s;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

.burgerMenu ul li a {
    text-decoration: none;
    position: relative;
    list-style: none;
    color: black;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 2px;
    transition: 0.4s;
    font-family: "Poppins", sans-serif;
}

.burgerMenu ul li a:hover {
    letter-spacing: 6px;
    color: #4caf50;
    font-family: "Poppins", sans-serif;
}


/*
.JTB-logo {
    cursor: pointer;
    display: flex;
    background: transparent;
    text-transform: uppercase;
}
*/


.view video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}




*/H*/

/*
header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url('../../resources/im.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
}
*/

.JTB-logo {
    font-size: 4rem;
    color: #4caf50;
    margin: 0;
    cursor: pointer;
    display: flex;
    background: transparent;
    text-transform: uppercase;
    
}
/*

nav {
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 2.5rem;
    
}

nav ul li a:hover{
    transition: .4s ease-in-out;
    color: #4caf50;  
}
*/

/*
.page2 {
    background: linear-gradient(rgba(0,0,3,0.9), rgba(0,0,3,0.5)), url('../resources/im.jpg');
}

.page3 {
    background: linear-gradient(rgba(0,0,3,0.9), rgba(0,0,3,0.5)), url('../resources/im.jpg');
}

.page4 {
    background: linear-gradient(rgba(0,0,3,0.9), rgba(0,0,3,0.5)), url('../resources/im.jpg');
}
*/

/* fitting to devices */
@media(max-width: 891px) {
    .view, 
    .view header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }

}

/*Social Media*/
.socialMedia {
    position: absolute;
    bottom: 30px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

}


.socialMedia li {
    list-style: none;
}


.socialMedia li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transition: 0.6s;
    transform: scale(0.5);
    color: #4caf50;

}

.socialMedia li a:hover {
    transform: scale(0.5) translateY(-15px);
}

/*
.contact {
    height: 100vh;
    background: linear-gradient(rgba(1,123,199,0.9), rgba(1,123,199,0.9));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
}

.contact .contactRow1, .contact .contactRow2 {
    justify-content: center;
}

.contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.contact form input {
    width: 50%;
    border: 1px solid #4caf50;
    font-size: 2rem;
    resize: none;
    color: black;
    margin: 2rem 0;
    font-family: "Poppins", sans-serif;
}


.contact form textarea {
    height: 150px;
    padding: 12px; 20px;
    border: 1px solid #4caf50;
    font-size: 2rem;
    resize: none;
    color: black;
    font-family: "Poppins", sans-serif;
}*/

/* contactus */
.contactUS {
    position: relative;
    z-index: 10;
    /* background: powderblue; */
/*    color: #4caf50;*/
    color: whitesmoke;
    text-shadow: #111;
    line-height: 1.6em;
    padding: 2.2em;
    max-width: 1170px;
/*    box-shadow: 0 0 20px rgba(72, 125, 116, 1);*/
    width: 100vh;
}

.contactUS ul {
    list-style: none;
    padding: 0px;

}

.contactUS h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: lowercase;
}

.contactUS a{
    position: relative;
    z-index: 10;
}

.contactUS span {
    background: white;
}

.contactForm {
    background: rgba(0, 0, 0, 0.3);
    padding: 2em 1em;
    
}

.contactForm label {
    color: whitesmoke;
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    
}

.contactForm h3 {
    text-align: center;
    color: rgb(32, 238, 77);
    text-transform: uppercase;
}

.contactForm input *{
    color: black;
}

.contactForm form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 20px; */
}

.contactForm form button{
    color:aquamarine;
    text-transform: uppercase;
    border-width: 2px;
    border-color: aquamarine;
    font-size: medium;
    /* background: white; */
    width: 100%;
    background: black;
    padding: 5px;
    
}

.contactForm form .stretch {
    grid-column: 1 / 3;
}

.contactForm form input, .contactForm form textarea{
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    font-size: larger;
    border-color: aquamarine;
    color: white;
}

.contactForm form input {
    width: 80%;
}

.contactForm form button:hover {
    background: green;
    color: black;
    transition: background-color 1.5s;
}


.companyProfile {
/*    background: rgba(0, 125, 0, 0.5);*/
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    align-items: center;
    text-align: center;
    font-weight: 200px;
    font-size: 20px;
}

.companyProfile li{
/*    background: rgba(0, 125, 0, 0.5);*/
/*
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    align-items: center;
    text-align: center;
*/
    font-weight: 100px;
    font-size: 1.8rem;
    margin: 0;
    
}
