@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap');


/*Starting styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 60%;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    font-weight: 300;
    font-size: 2rem;
    color: whitesmoke;
}

h1 {
    text-decoration: none;
    font-weight: 800;
    font-size: 4rem;
    margin: 2rem 0;
    font-family: "Poppins", sans-serif;
}

h2 {
    text-decoration: none;
    font-weight: 800;
    font-size: 3rem;
    margin: 2rem 0;
}


p {
    text-decoration: none;
    font-weight: 300;
    font-size: 2rem;
    margin: 2rem 0;
}



img {
    width: 100%;
    height: auto;
}



.pp{
    z-index: 10;
}


section {
    padding: 100px 0;
}

.view {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.6s;
    
}



.videoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
/*    background: #03a9f4;*/
    mix-blend-mode: overlay;
}

.view.active {
    right: 300px;
}


.view header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 100px 100px;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between;
/*    height: 100vh;*/
/*
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
*/
/*    color: #v;*/
    color: #4caf50;
    font-family: "Poppins", sans-serif;
}

.view header img{
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggleChanges {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    
    
}

.toggleChanges.active {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;

}


.burgerMenu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
}



.burgerMenu ul {
    position: relative;
    list-style: none;
}

.burgerMenu ul li {
    text-decoration: none;
    position: relative;
    list-style: none;
    color: black;
    letter-spacing: 1px;
    transition: 0.4s;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

.burgerMenu ul li a {
    text-decoration: none;
    position: relative;
    list-style: none;
    color: black;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 2px;
    transition: 0.4s;
    font-family: "Poppins", sans-serif;
}

.burgerMenu ul li a:hover {
    letter-spacing: 6px;
    color: #4caf50;
    font-family: "Poppins", sans-serif;
}



.view video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}




*/H*/


.JTB-logo {
    font-size: 4rem;
    color: #4caf50;
    margin: 0;
    cursor: pointer;
    display: flex;
    background: transparent;
    text-transform: uppercase;
    
}

/* fitting to devices */
@media(max-width: 891px) {
    .view, 
    .view header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }

}

/*Social Media*/
.socialMedia {
    position: absolute;
    bottom: 30px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

}


.socialMedia li {
    list-style: none;
}


.socialMedia li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transition: 0.6s;
    transform: scale(0.5);
    color: #4caf50;

}

.socialMedia li a:hover {
    transform: scale(0.5) translateY(-15px);
}


/*jamaicans*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

 Create four equal columns that sits next to each other 
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


 .pageHead {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    top: 10px;
    align-items: center;
    justify-content: space-between;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

 Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

